@model CardModel;

<h1>You drew:</h1>
@{
    foreach (Card c in Model.Cards)
    {
        <h2>@c.Value of @c.Suit</h2>
        <br/>
        <img src = @c.Image />
        //add some code here that will redirect the user to a shuffle method if the deck has no cards left; if(Model.Cards.Count() <= 0) {redirect to shuffle}
    }
}